:root {
    /* ----font-size---- */
    --fs-sm: 13px;
    --fs-md: 14px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-xxl: 17px;
    --fs-xxxl: 18px;
    --fs-4xl: 21px;
    --fs-5xl: 26px;
    --fs-6xl: 45px;
    --fs-7xl: 75px;

    --fs-65: 65px;
    --fs-60: 60px;
    --fs-40: 40px;
    --fs-35: 35px;

    /* ----font-weight---- */
    --fw-200: 200;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* ----colors---- */
    --black: #2B353E;
    --grey: #6B7278;
    --blue: #1E71FF;
    --white: #FFFFFF;
    --light-blue: #E8F1FF;
}

/* -------------Root-classes-------------- */
/* ------font-size-------- */
.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

.fs-xxxl {
    font-size: var(--fs-xxxl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.fs-5xl {
    font-size: var(--fs-5xl);
}

.fs-6xl {
    font-size: var(--fs-6xl);
}

.fs-65 {
    font-size: var(--fs-65);
}

.fs-60 {
    font-size: var(--fs-60);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-35 {
    font-size: var(--fs-35);
}

.fs-7xl {
    font-size: var(--fs-7xl);
}

/* ------font-weight---------- */
.fw-200 {
    font-weight: var(--fw-200);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

/* ------colors-------- */
.text-black {
    color: var(--black);
}

.text-grey {
    color: var(--grey);
}

.text-white {
    color: var(--white);
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}


/* -----------------------------Responsive------------------------ */

@media (max-width:576px) {
    :root {
        --fs-7xl: 60px;
        --fs-6xl: 35px;
        --fs-4xl: 16px;
        --fs-xxxl: 15px;
    }

    .col-lg-6 .two-boys {
        width: 100%;
        position: unset;
    }

    .btn-1 {
        width: 100%;
    }

    .btn-2 {
        width: 100%;
    }

    .btn-3 {
        width: 100%;
    }

    .btn-4 {
        width: 100%;
    }

    .ratings-box {
        flex-direction: column;
    }
}


@media (min-width:576px) {
    :root {
        --fs-7xl: 60px;
        --fs-6xl: 35px;
        --fs-4xl: 16px;
        --fs-xxxl: 15px;
    }
}


@media (min-width:768px) {
    :root {
        --fs-7xl: 65px;
        --fs-6xl: 40px;
        --fs-4xl: 18px;
        --fs-xxxl: 16px;
    }
}

@media (min-width:992px) {
    :root {
        --fs-7xl: 75px;
        --fs-6xl: 45px;
        --fs-4xl: 21px;
        --fs-xxxl: 18px;
    }
}